
      <div class="container" fxLayoutAlign = "stretch" fxLayout = "row" fxLayoutGap = "10px">
                  <div class="item item-1" fxFlex="100%" fxFlexAlign="center center" >
                    <mat-toolbar color="primary">
                      <mat-toolbar-row>
                        <span>Carpooling as a Service</span>
                        <div class="item item-1 logout" fxFlex="400px"><button mat-button color="accent" (click)="logout()">Logout</button>
                        </div>
                      </mat-toolbar-row>
                    </mat-toolbar>
                  </div>
                </div>
                <div class="container" fxLayoutAlign = "center ">
                  <div class="item item-2" fxFlex>
                    <router-outlet></router-outlet>
                  </div>
                </div>




