  <div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Enter your First name" [formControl]="firstName" required>
    <!--mat-error *ngIf="firstName.invalid">{{firstNameError()}}</mat-error-->
  </mat-form-field>
</div>
<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Enter your Last name" [formControl]="lastName" required>
    <!--mat-error *ngIf="lastName.invalid">{{lastNameError()}}</mat-error-->
  </mat-form-field>
</div>
<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Enter your User name " [formControl]="userName" required>
    <!--mat-error *ngIf="userName.invalid">{{userNameError()}}</mat-error-->
  </mat-form-field>
</div>
<div class="example-container">
  <mat-form-field>
    <input type="password" matInput placeholder="Enter your Password" [formControl]="password" required>
    <!-- <mat-error *ngIf="password.invalid">{{passwordError()}}</mat-error> -->
  </mat-form-field>
</div>
<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Enter your Phone number" [formControl]="phoneNumber" required>
    <!-- <mat-error *ngIf="phoneNumber.invalid">{{phoneNumberError()}}</mat-error> -->
  </mat-form-field>
</div>
<div>
  <mat-radio-group aria-label="Select an option">
  <mat-radio-button value="Yes" validation="required">Yes</mat-radio-button>&nbsp; &nbsp;
  <mat-radio-button value="No" validation="required">No</mat-radio-button>
</mat-radio-group>
</div>
<br><br>
<button mat-raised-button (click)="onSubmit()">Submit</button>

