<div>
  <h1>Welcome to Carpooling for Company!</h1>
  <mat-card>
      <mat-card-title>
          Register by entering the values in the form:
        </mat-card-title>
        <mat-card-subtitle> 
            Fields marked with * are mandatory fields.
        </mat-card-subtitle>
      <div [formGroup]="companyForm">
          <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Enter your Company name" formControlName="name" required>
            <!--mat-error *ngIf="firstName.invalid">{{firstNameError()}}</mat-error-->
          </mat-form-field>
        </div>
        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Enter Company Username " formControlName="userName" required>
            <!--mat-error *ngIf="userName.invalid">{{userNameError()}}</mat-error-->
          </mat-form-field>
        </div>
        <div class="example-container">
          <mat-form-field>
            <input type="password" matInput placeholder="Enter Company Password" formControlName="password" required>
            <!-- <mat-error *ngIf="password.invalid">{{passwordError()}}</mat-error> -->
          </mat-form-field>
        </div>
        <button mat-raised-button color= "primary" (click)="onSubmit()">Submit</button>
      
        </div>
      
    
      
    
  </mat-card>
   