
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Company Data
      </mat-panel-title>
      <mat-panel-description>
        Name and base location
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="example-container">
    <mat-form-field floatPlaceholder="never">
      <input matInput placeholder="Name">
    </mat-form-field>

    <mat-form-field floatPlaceholder="never">
      <input matInput placeholder="Base location">
    </mat-form-field>
  </div>
  </mat-expansion-panel>
</mat-accordion>
